<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571751017021-2hrmu2ic10mc056ls6uq43phvea68jv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571751017021-2hrmu2ic10mc056ls6uq43phvea68jv6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>571751017021-j2kk5sqmq5ila8ag8qq84222h468d7jc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDOCRqiULE24kdNLgyVb4qinICoxI98SU</string>
	<key>GCM_SENDER_ID</key>
	<string>571751017021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.mysocially</string>
	<key>PROJECT_ID</key>
	<string>socially-88494</string>
	<key>STORAGE_BUCKET</key>
	<string>socially-88494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571751017021:ios:a8bc2c5c8c8ba2a08d9854</string>
</dict>
</plist>